########
# PHP #
######

[language-server.phpactor]
command = "phpactor"
args = ["language-server", "--config-extra={\"language_server_completion.trim_leading_dollar\":true}"]
# command = "sh"
# args = ["-c", "phpactor -vvv language-server --config-extra={\\\"language_server_completion.trim_leading_dollar\\\":true} | tee -a /tmp/phpactor.log"]

[[language]]
name = "php"
language-servers = ["phpactor"]

[language.debugger]
name = "vscode-php-debug"
transport = "stdio"
command = "bash"
args = ["-c", "node ~/dev/lib/vscode-php-debug/out/phpDebug.js"]

[[language.debugger.templates]]
name = "Listen for Xdebug"
request = "launch"
completion = ["ignored"]
args = {}

[[language.debugger.templates]]
name = "Listen for Xdebug (/var/www/ -> /home/rafal/dev)"
request = "launch"
completion = ["ignored"]
args = { serverSourceRoot = "/var/www", localSourceRoot = "/home/rafal/dev" }

[[language.debugger.templates]]
name = "Listen for Xdebug (/var/www/ -> /Users/rafal/dev)"
request = "launch"
completion = ["ignored"]
args = { serverSourceRoot = "/var/www", localSourceRoot = "/Users/rafal/dev" }

[[grammar]]
name = "php"
source = { git = "https://github.com/tree-sitter/tree-sitter-php", rev = "29838ad107f50b1f5f51a0beefa9c9d834fce2b3", subpath = "php" }

########
# Vue #
######

[[language-server.typescript-language-server.config.plugins]]
name = "@vue/typescript-plugin"
location = "/home/rafal/.local/share/fnm/aliases/default/lib/node_modules/@vue/language-server"
languages = ["vue"]

# Make sure you install an older VLS version.
# `npm -g i @vue/language-server@^1`
[language-server.vue-language-server-v1]
command = "vue-language-server"
args = ["--stdio"]
config = {typescript = {tsdk = "/home/rafal/.local/share/fnm/aliases/default/lib/node_modules/typescript/lib"}}

[[language]]
name = "vue"
# auto-format = true
# formatter = { command = "prettier", args = ["--parser", "vue"] }

# language-servers = ["typescript-language-server"]
language-servers = ["vue-language-server-v1"]

